#countLabel{
    display: block;
    text-align: center;
    font-size: 20em;
    font-family: Arial, Helvetica, sans-serif;
}
#btnContainer{
    text-align: center;
}   
.button{
    padding:10px 20px;
    font-size:4em;
    color: white;
    background-color:rgb(96, 96, 246);
    border-radius: 5px;
    cursor:pointer ;
    transition: background-color 0.25;
    border-color:black;
}
.button:hover{
    background-color: rgb(12, 12, 90);
    font-size: 5em;
}
